# Processing build and export artifacts
build/
*.class
*.exe
*.app
*.jar
application.*

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Gradle wrappers or other build systems (if any)
.gradle/

# Images generated during run
savedImages/
.gradle/8.9/executionHistory/executionHistory.lock
.gradle/8.9/executionHistory/executionHistory.lock
.gradle/8.9/fileHashes/fileHashes.bin
.gradle/8.9/fileHashes/fileHashes.lock
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/8.9/executionHistory/executionHistory.lock
